// COLORS
$primary-color: #38a3bd;
$secondary-color: #1e5db6;

$white-color: #f4e6c6;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #460001; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
